
.env
*.example
.env.example
vendor/composer/installed.json
.idea/workspace.xml
.idea/snowfin.iml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.env.example
.env.example
*.example
.env.example
*.example
vendor/composer/installed.json
vendor/composer/autoload_static.php
